{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/home/home.css' %}">

{% endblock %}

{% block header %}

<div class="text-center fixed-top" style="height: 120px;">
    <div class="row align-items-center pt-3" >
        <div class="col-md-4 ">
            <h1 style="font-size: 30px; padding: 0; margin: 0;">Bem vindo ao Twitter</h1>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4 " >
            <img class="img" src="{% static 'img/twitter.png' %}" alt="Twitter Logo " style="height: 80px;">
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<main class="align-items-center" style="padding-top: 120px;">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-md-6">
                <form method="POST" class="border border-primary rounded p-4 p-sm-5">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <label for="{{ form.username.id_for_label }}" class="col-sm-3 col-form-label">Usuário</label>
                        <div class="col-sm-9">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="{{ form.password.id_for_label }}" class="col-sm-3 col-form-label">Senha</label>
                        <div class="col-sm-9">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="mb-3 row mt-4 text-center justify-content-center">
                        <div class="col-6 col-sm-4">
                            <input type="submit" class="btn btn-primary btn-block" value="Logar">
                        </div>
                        <div class="col-6 col-sm-4">
                            <a href="{% url 'register' %}" class="btn btn-primary btn-block">Cadastrar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
