{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}">
{% endblock %}

{% block header %}
<div class="text-center align-items-center h-100" >
    <div>
        <nav class="nav justify-content-center align-items-center" style="height: 120px;">
            <a class="btn btn-light mx-2 d-none d-md-inline-block" href="{% url 'detail' %}">Perfil</a>
            <a class="btn btn-light mx-2 d-none d-md-inline-block" href="{% url 'send_tweet' %}">Tweet</a>
            <a class="btn btn-light mx-2 d-none d-md-inline-block" href="{% url 'logout' %}">Sair</a>

            <a class="btn btn-light mx-1 d-inline-block d-md-none" href="{% url 'feed' pk=user.pk %}">Feed</a>
            <a class="btn btn-light mx-1 d-inline-block d-md-none" href="{% url 'detail' %}">Perfil</a>
            <a class="btn btn-light mx-1 d-inline-block d-md-none" href="{% url 'send_tweet' %}">Tweet</a>
            <a class="btn btn-light mx-1 d-inline-block d-md-none" href="{% url 'logout' %}">Sair</a>
        </nav>
    </div>
    <div class="d-flex justify-content-center" >
        <div id="avatar" class="align-items-center justify-content-between p-2" style="width: 100%; height: 100%;">
            {% if user.avatar %}
            <div class="row mt-2 d-block d-lg-flex justify-content-between" style="width: 100%;">
                <div class="col-md-4 text-center ">
                    <img src="{{ user.avatar.url }}" class="img-fluid rounded-circle" alt="Avatar de {{ usuario.username }}" style="height: 150px; width: 150px;">
                </div>
                <div class="col-md-4 text-center justify-content-center">
                    <h2 style="color: #1DA1F2;">{{ user.username }}</h2>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#seguidoresModal">Seguidores: {{ user.followers.count }}</button>
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#seguidosModal">Seguindo: {{ user.following.count }}</button>
                    </div>
                </div>
                <div id="seguidores" class="col-md-4 mt-sm-3">
                    <h4 class="d-none d-lg-block" style="color: #1DA1F2;">Usuarios que talvez você conheça</h4>
                    <div id="userCarousel" class="carousel slide " data-bs-ride="carousel">
                        <div class="carousel-inner ">
                            {% for usuario in usuarios %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="d-flex justify-content-center">
                                    <div class="text-center justify-content-center" >
                                        {% if usuario.avatar %}
                                        <img src="{{ usuario.avatar.url }}" class="card-img rounded-circle mt-2 mb-2" alt="Avatar de {{ usuario.username }}" style="height: 80px; width: 80px;">
                                        {% else %}
                                        <img src="{% static 'img/avatar.jpg' %}" class="card-img rounded-circle mt-2 mb-2" alt="Avatar de {{ usuario.username }}" style="height: 80px; width: 80px;">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5 style="color: #1DA1F2;">{{ usuario.username }}</h5>
                                            <button type="button" class="btn btn-primary btn-follow" data-bs-toggle="modal" data-bs-target="#followModal" data-user-id="{{ usuario.id }}" data-username="{{ usuario.username }}">
                                                Seguir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#userCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#userCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>                    
                    </div>
                    
                </div>
            </div>
            {% else %}
            <div class="row align-items-center mt-2">
                <div class="col-md-3 text-center text-md-start">
                    <img src="{% static 'img/avatar.jpg' %}" class="img-fluid rounded-circle" alt="Avatar de {{ usuario.username }}" style="height: 150px; width: 150px;">
                </div>
                <div class="col-md-9 text-center text-md-start">
                    <h2>{{ user.username }}</h2>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#seguidoresModal">Seguidores: {{ user.followers.count }}</button>
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#seguidosModal">Seguindo: {{ user.following.count }}</button>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div id="tweets" class="p-2 d-none d-lg-block" style="border-top: #1DA1F2 solid 2px;" >
        <h1 class="text-center mb-3 " style="color: #1DA1F2;">Tweets</h1>
                <div style="max-height: 500px; overflow-y: auto;">
                    <div class="list-group tweet-list">
                        {% for tweet in tweets %}
                        {% if tweet %}
                        <div class="list-group-item mb-5 border border-primary rounded" style="max-height: 200px; overflow-y: auto;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center">
                                        {% if tweet.author.avatar %}
                                        <img src="{{ tweet.author.avatar.url }}" alt="" style="height: 30px; width: 30px;" class="rounded">
                                        {% else %}
                                        <img src="{% static 'img/avatar.jpg' %}" alt="" style="height: 30px; width: 30px;" class="rounded">
                                        {% endif %}
                                        <h4 class="ms-3">{{ tweet.author.username }}</h4>
                                    </div>
                                    <div style="max-width: 600px;">
                                        <p style="width: 100%; overflow-y: scroll; overflow-x: hidden;">{{ tweet.content }}</p>
                                        <p class="mb-1">{{ tweet.created_at }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- Espaço para comentários futuros -->
                                    <!-- Exemplo de comentário -->
                                    <div class="card mt-2">
                                        <div class="card-body">
                                            <h5 class="card-title">Comentário</h5>
                                            <p class="card-text">Este é um exemplo de comentário futuro.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p>Nenhum tweet registrado</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
    </div>
</div>
{% endblock %}

{% block content %}
   

<!-- Modal -->
<div class="modal fade" id="followModal" tabindex="-1" aria-labelledby="followModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="followModalLabel">Seguir Usuário</h5>
            </div>
            <div class="modal-body">
                Você deseja seguir <span id="modal-username"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <form id="follow-form" method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Seguir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="seguidoresModal" tabindex="-1" aria-labelledby="seguidoresModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seguidoresModalLabel">Seguidores de {{ user.username }}</h5>
            </div>
            <div class="modal-body">
                <ul>
                    {% for seguidor in seguidores %}
                    <li>{{ seguidor.username }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="seguidosModal" tabindex="-1" aria-labelledby="seguidosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seguidosModalLabel">Usuários que {{ user.username }} está seguindo</h5>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    {% for seguido in seguindo %}
                    <li class="d-flex justify-content-between align-items-center mb-2">
                        <span>{{ seguido.username }}</span>
                        <form method="post" action="{% url 'unfollow_user' pk=seguido.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Deixar de Seguir</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var followModal = document.getElementById('followModal');
        followModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var userId = button.getAttribute('data-user-id');
            var username = button.getAttribute('data-username');
            var modalUsername = followModal.querySelector('#modal-username');
            var followForm = followModal.querySelector('#follow-form');
            
            modalUsername.textContent = username;
            followForm.action = '{% url "follow_user" pk=0 %}'.replace('0', userId);
        });
    });
</script>
{% endblock %}
