*{
    margin: 0;
    padding: 0;
}

.conteudo{
    margin: 0;
    padding: 0;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-block {
    max-width: 800px;
    height: 500px;
    width: 100%;
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 50px;
    border: 2px solid #1DA1F2;
    border-radius: 30px;
    background-color: #f9f9f9;
    display: block;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group label {
    display: flex;
    width: 150px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.form-group div{
    width: 100%; /* Faz os elementos ocuparem 100% da largura do container */
    box-sizing: border-box; /* Inclui o padding e border na largura total do elemento */
}

.form-group input{
    background-color: white;
    height: 30px;
    width: 100%;
    border: 1px solid #1DA1F2;;
    border-radius: 6px;
}

.form-button-group{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding-top: 10px;
}

.form-button input,
.form-button a{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #1DA1F2;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.form-button input:hover,
.form-button a:hover {
    background-color: #73beec;
}

.header-content{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.header-content img{
    height: 80px;
}

@media (max-width: 289px){
    .form-block{
        max-width: 350px;
        height: 400px;
        width: 80%;
        margin: 0 auto; 
        padding: 10px;
    }
    .form-group label {
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 10px;
    }
    .form-button input,
    .form-button a{
        font-size: 12px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 395px) and (min-width:290px){
    .header-content{
        font-size: 20px;
        justify-content: center;
        padding-left: 0;
    }
    .form-block{
        max-width: 350px;
        height: 430px;
        width: 80%;
        margin: 0 auto; 
        padding: 10px;
    }
    .form-group input{
        height: 30px;
        width: 100%;
    }
    .form-group label {
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 10px;
    }
    .form-button-group{
        display: flex;
    }
    .form-button input,
    .form-button a{
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
    }
}


/* Estilo para telas menores que 768px (celulares) */
@media (max-width: 768px) and (min-width:400px){
    .header-content{
        font-size: 30px;
        justify-content: center;
        padding-left: 0;
    }
    .form-block{
        max-width: 400px;
        height: 510px;
        width: 80%;
        margin: 0 auto; 
        padding: 40px;
    }
    .form-group label {
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 18px;
    }
    .form-button-group{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .form-button input,
    .form-button a{
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }
}


@media (max-width: 1024px) and (min-width:769px){
    .form-block{
        max-width: 800px;
        height: 700px;
        width: 80%;
        margin: 0 auto; 
        padding: 20px;
    }
    .form-group label {
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 18px;
    }
    .form-button input,
    .form-button a{
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
    }
    .form-button-group{
        margin-top: 30px;
        padding-top: 20px;
        padding: 20px;
    }
}

@media (width:1024px) and (height:600px){
    .form-block{
        max-width: 800px;
        height: 350px;
        width: 80%;
        margin: 0 auto; 
        padding: 10px;
    }
    .form-group label {
        display: flex;
        margin-bottom: 2px;
        font-weight: bold;
        font-size: 10px;
    }
    .form-button input,
    .form-button a{
        font-size: 12px;
        width: 100%;
        margin: 0 auto;
    }
    .form-button-group{
        padding: 0;
        margin-top: 0;
    }
}

@media (width:820px) and (height:1180px){
    .form-block{
        max-width: 800px;
        height: 850px;
        width: 80%;
        margin: 0 auto; 
        padding: 10px;
    }
    .form-group label {
        width: 100%;
        display: flex;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 26px;
    }
    .form-button input,
    .form-button a{
        font-size: 26px;
        width: 100%;
        margin: 0 auto;
    }
    .form-button-group{
        padding: 0;
        margin-top: 50px;
    }
}
