{% extends 'base.html' %}

{% load static %}

{% block header %}
<div class="container-fluid text-center">
    <div class="container-fluid mt-4">
        <nav class="nav justify-content-center">
            <a class="btn btn-light mx-2" href="{% url 'profile' pk=user.pk %}">Voltar</a>
            <a class="btn btn-light mx-2" href="{% url 'send_tweet' %}">Fazer Tweet</a>
            <a class="btn btn-light mx-2" href="{% url 'logout' %}">Sair</a>
        </nav>
    </div>
</div>
{%  endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-3">Detalhes do Usuário</h1>
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        {% if usuario.avatar %}
                        <img src="{{ usuario.avatar.url }}" class="img-fluid rounded-circle" alt="Avatar de {{ usuario.username }}" style="height: 200px;">
                        {% else %}
                        <img src="{% static 'img/avatar.jpg' %}" class="img-fluid rounded-circle" alt="Avatar padrão" style="height: 200px;">
                        {% endif %}
                    </div>
                    <h2 class="text-center">{{ usuario.username }}</h2>
                    <p class="text-center">Email: {{ usuario.email }}</p>
                    <p class="text-center">Seguidores: {{ usuario.followers.count }}</p>
                    <p class="text-center">Seguindo: {{ usuario.following.count }}</p>
                    <!-- Botão para abrir modal de alteração de avatar -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Alterar foto
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Escolha uma foto</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'alterar_avatar' %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    <label for="id_avatar">Escolha uma nova imagem:</label>
                    <input type="file" class="form-control-file" id="id_avatar" name="avatar">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
  </div>
</div>
</div>
{% endblock %}